.srodkowy {
    background-color: rosybrown;
    color: white;
    width: 40%;
    height: 200px;
    text-align: center;
    float: left;
}
.lewy {
    vertical-align: top;
    float: left;
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
    text-align: left;
}
.glowny {
    padding: 50px;
    background-color: wheat;
    clear: both;
    padding:12.5%;
}
.footer {
    color: white;
    text-align: center;
    vertical-align: top;
    background-color: rosybrown;
    padding: 2px;
}
body{
    font-family: Tahoma;
}
a{
    border: 2px solid ;
    color: darkred;
    background-color: salmon;
    padding: 20px ;
    line-height: 200px;
}
.prawy{
    vertical-align: top;
    float: right;
    background-color: rosybrown;
    color: white;
    width: 30%;
    height: 200px;
} 
