.srodkowy {

    vertical-align: top;

    background-color: white;

    text-align: center;

}

.prawy {

    background-color:rosybrown;

    text-align: center;

    text-align: top;

    height: 200px;

    float: right;

    width: 89.49%;

    color: white;

}

.lewy {

    vertical-align: top;

    float: left;

}

.glowny {

    vertical-align: top;

    padding: 50px;

    background-color: wheat;

}

.footer {

    color: white;

    text-align: center;

    vertical-align: top;

    background-color: rosybrown;

    padding: 5px;

}