*{
    font-family: Georgia;
    margin: 0;
}
.baner{
    background-color: dodgerblue;
    color: white;
    padding: 30px;
    text-align: center;

    
}
.glowny{
    background-color: lightblue;
    padding: 100px;
}
.l{
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
    float: left;
}
.mid,.p{
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
    float: left;
}
a{
    border: 1px dashed dimgray ;
    background-color: gold;
    color: darkred ;
    padding: 10px;
}