*{
    font-family: georgia;
    
}
.lewy{
   
    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
    padding: 10px;

}
.prawy{
   
    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: auto;
    float: left;
}
.footer{
    background-color: dimgray;
    color: white;
    clear: both;
}
.right * {
    float: left;
}
.right p {
    float: left;
}
p{
    padding: 10px;
    clear: both;
}
img {
    padding: 10px;
    border: 1px solid white;
}
.indigo {
    background-color: indigo;
}
.steel {
    background-color: steelblue;
     }
.olive{
    background-color: olive;
}