h1{
    font-family: 'Times New Roman';
    font-size: 50;
    color:green ;
    position: center;
    text-align: center;
    background-color: yellow;
}
body {
    background-color: #2b10da ;
}
.tester {
text-align: center;
}
.tag 
{
    text-align: center;

}
.dubro {
    text-align: center;
    color: green;
    background-color: yellow;
}
.link {
    background-color: yellow;
    color: green;
    font-size: 40px;
}
.menu {
    background-color: blueviolet ; 
    color: wheat ;
}
.lol {
    background-color: wheat ;
    color: red;
}