body{
    font-family: Garamond;
}
.baner {
    background-color:saddlebrown;
    color:white;
    text-align: center;
    height: 50px;  
    vertical-align:top;
} 
.lewy {
    background-color: tan;
    height: 500px;
    width: 40%;
    float: left;
    vertical-align:top;
}
.prawy_1,.prawy_2{
    background-color: tan;
    height: 250px;
    width:60%;
    vertical-align: top;
    float: left;
}
.stopka {
    background-color: saddlebrown;
    color:white;
    width: 100%;
    float: left;
    vertical-align: top;
}
.form {
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}
#login,#password,#password2,#test{
padding: 5px;
}
p::before{
    content: "Status:  ";
}
