body {
    font-family: Tahoma,sans-serif;
}
.baner_1 {
    background-color: tomato;
    color:white;
    padding: 10px;
}
.glowny_2{
    background-color: seashell;
    height: 500px;
    width: 100%;
    float: left;
}
.stopka_3,.stopka_4,.stopka_5,.stopka_6{  
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
float: left;}
.opinie{
    background: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px dimgray;
}
img{float: left;
    padding: 10px;  
    border-radius: 10px
}
blockquota{
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}
h1,h2 {
    text-align: center;
}
h4{
    text-align: right;
    padding-right: 40px;
    font-size: 150%;
    font-style: italic;
}
a{
    color: white;
}
